{% extends 'base.html' %} {% block conteudo %}
<div class="container">
  <a class="btn btn-success" href="{{url_for('cadastro_livros')}}">Adicionar livros</a>
  <h1 class="text-center">Livros</h1>
  <hr />
  <br />
  <table class="table table-bordered table-hover">
    <thead style="color: black">
      <tr style="background-color: #333; color: white">
        <th>ID</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      {% for l in livro %}
      <tr>
        <td>{{ l.id }}</td>
        <td>{{ l.nome }}</td>
        <td>{{ l.descricao }}</td>
        <td>{{ l.valor }}</td>
        <td>
          <div class="text-center">
            <a href="atualiza_livro/{{l.id}}" class="btn btn-primary">Editar</a>
            <a href="delete_book/{{l.id}}" class="btn btn-danger" onclick="return confirm('Deseja remover ?')">Excluir</a>
          </div>
        </td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
