<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre</title>
  </head>
  <body>
    <form action="{{url_for('diario')}}" method="POST">
      <label for="aluno">Nome do aluno</label>
      <input type="text" name="aluno" required>
      <label for="nota">nota do aluno</label>
      <input type="text" name="nota" required>
      <button>valor</button>
    </form>
    <h1>Notas do aluno</h1>
    <hr />
    {%for d in diarios %}
        <details>
            <summary>{{d.aluno}}</summary>
            <p>{{d.nota}}</p>
        </details>
    {% endfor %}
  </body>
</html>
